.add-button {
    position: absolute;
    right: 10px;
    bottom: 30px;
}


#show-menu {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #64b5f6;
}

.point-info {
    width: 320px;
    position: absolute;
    left: 10px;
    top: 60px;
}

img div.card-image {
    overflow: hidden;
}
