.add-button {
    position: absolute;
    right: 10px;
    bottom: 30px;
}

#show-menu {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #64b5f6;
}

.point-info {
    width: 320px;
    position: absolute;
    left: 10px;
    top: 60px;
}

.icon-links{
    position: absolute;
    right: 8px;
    bottom: 8px;
    margin-bottom: 0px;
}

.adjust-fb {
    top: -6px;
}

i .icon-links {
    margin: 1px;
    padding: 1px;
}

div.edit-location {
    width: calc(100% - 20px);
    margin-top: 2px;
    padding: 2px 12px 2px 12px;
    position: absolute;
    top: 2px;
    right: 10px;
    opacity: .95;
}

.compact {
    margin: 0px;
}

.light-text {
    font-weight: 300;
}

.edit-location-icon {
    margin-top: 10px;
    padding: 2px 5px;
}

.edit-mode-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    opacity: .1;
}

.edit-mode-btn:hover {
    opacity: .9;
}

.photo-wrapper {
    border: solid 1px rgb(212, 212, 212);
    height: 200px;
    width: 100%;
}

.placeholder {
    background-color: rgb(237, 238, 242);
    margin: 2px;
    height: calc(100% - 4px);
    cursor: pointer;
}

.add-img {
    margin-top: 70px;
    font-size: 48px;
    color: rgb(212, 212, 212);
}

#file-upload {
    display: none;
}
